﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>

id @Html.TextBox("id") <br /><br />
pwd @Html.Password("pwd") <br /><br />
name @Html.TextBox("n") <br /><br />
gender @Html.RadioButton("g", 1)  boy @Html.RadioButton("g", 0) girl  <br /><br />
habbies @Html.CheckBox("s") swim @Html.CheckBox("r") read<br /><br />
about @Html.TextArea("a")