﻿
@{
    ViewBag.Title = "Test1";
}

<h2>Test1</h2>

id: <input type="text" name="name" value="" /> <br /><br />
pwd <input type="password" name="name" value="" /> <br /><br />
name <input type="text" name="name" value="" /> <br /><br />
gender <input type="radio" name="name" value="" /> boy <input type="radio" name="name" value="" />girl <br /><br />
habbies <input type="checkbox" name="name" value="" />swim <input type="checkbox" name="name" value="" />read <br /><br />
about <textarea></textarea>